.types-container{
  display: flex;
  flex-wrap: wrap;
}

span{
  font-family: sans-serif;
  padding: 2px 7px;
  border-radius: 24px;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  margin: 2px 2px;
  cursor: pointer;
}

.status {
  background: #454657;
  border: 1px solid #d2c1ed;
  color: #d2c1ed;
}

.resolution {
  background: #393c3d;
  border: 1px solid #fffdca;
  color: #fffdca;
}

.bug {
  background: #33161d;
  border: 1px solid #f7806b;
  color: #f7806b;
}
